.startscreen-button-box {
  position: relative; /* Wichtig für das absolute Positionieren des Start-Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Füllt die gesamte Höhe des Bildschirms */
  background-image: url('./../../assets/img/fire_background.png');
  background-size: cover;
}

.startscreen-only-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 500px;
    cursor: pointer;
    object-fit: cover;
    &:hover {
      filter: brightness(1.25);
    }
  }
}
