.startscreen-button-box {
  position: relative; /* Wichtig für das absolute Positionieren des Start-Buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Füllt die gesamte Höhe des Bildschirms */
  background-image: url('./../../assets/img/fire_background.png');
  background-size: cover;

  @media(max-width: 690px){
    >img{
      width: 700px;
      padding-left: 30px;
    }
  }
}

.startscreen-only-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 500px;
    cursor: pointer;
    object-fit: cover;
    &:hover {
      filter: brightness(1.25);
    }
  }
  @media(max-width: 690px){
    >img{
      width: 330px;
    }
  }
}
